.location-detail {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 200px;
}

.location-name {
  font-size: 1rem;
  color: #27ae60;
  text-shadow: 0 0 1px #2980b9, 0 0 2px #2980b9, 0 0 2px #2980b9;
  white-space: nowrap;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.location-info {
  color: grey;
  margin-bottom: 10px;
}

  