.logo img {
  max-width: 50px;
  margin-top: -0.5rem;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #333; 
  width: 100%;
  max-height: 60px;
  overflow: hidden;
}

.header-title {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  padding-top: 0.25rem;
}

.small-title {
  font-size:1.5rem; 
  font-weight: 500;
  color: #27ae60; 
  font-family: 'Creepster', cursive;
  text-shadow: 0 0 2px #2980b9, 0 0 4px #2980b9, 0 0 6px #2980b9;
  white-space: nowrap; 
}

.signup-button,
.signup-link {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #02b1c8; 
  color: #00e1ff;
  border: 2px solid #151515; 
  transition: background-color 0.3s ease;
}

.signup-button:hover,
.signup-link:hover {
  background-color: #7ffa67;
}

.empty-space {
  flex-grow: 1;
  min-width: 2rem;
}
